venv/
boost_1_71_0
boost_1_71_0/*
**/*.idea
**/*.idea/*
**/*.[oa]
**/*.exe
**/testoutput
**/*.pbd
**/*.sconsign.dblite
**/TODO.txt
chess
chess/*
chess_engine/cmake-build-debug
chess_engine/cmake-build-debug/*
chess_engine/CMakeFiles
chess_engine/CMakeFiles/*
chess_engine/chess.cbp
chess_engine/CMakeCache.txt
chess_engine/cmake_install.cmake
chess_engine/libchesslib.so
chess_engine/Makefile

