venv/
boost_1_71_0
boost_1_71_0/*
**/*.idea
**/*.idea/*
**/*.[oa]
**/*.exe
**/testoutput
**/*.pbd
**/*.sconsign.dblite
**/TODO.txt
chess_engine/cmake-build-debug
chess_engine/cmake-build-debug/*
chess_engine/CMakeFiles
chess_engine/CMakeFiles/*
chess_engine/chess.cbp
chess_engine/CMakeCache.txt
chess_engine/cmake_install.cmake
chess_engine/libchesslib.so
chess_engine/chesslib
chess_engine/Makefile
chess_engine/main1
chess_engine/.vscode/
/.vscode
/.VSCodeCounter

chess_engine/test/CMakeFiles
chess_engine/test/CMakeFiles/*
chess_engine/test/CMakeCache.txt
chess_engine/test/cmake_install.cmake
chess_engine/test/Makefile
chess_engine/test/tests
