<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <!-- viewport from Bootstrap to page scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- Ajax - REST -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Chess Board -->
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
          integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
          crossorigin="anonymous">
    <!--
    <script type="text/javascript" src="{{ url_for('static', filename='chess.js') }}"></script>
    -->
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Chess</a>
    </div>
</div>

<button id="btn1" class="btn">Get messages</button>
<button id="btn2" class="btn">Send message</button>

<div id="myBoard" style="width: 40%"></div>
<button id="showPositionBtn">Show position in console</button>

<script>
    postURI = 'http://localhost:5000/api/post';

    /* Global variable to define whether move or not */
    var snapBack;

    var chessConfig = {
        draggable: true,
        position: 'start',
        onDrop: onDrop,
        /* Prevent from moving black pieces */
        onDragStart: onDragStart
    };

    var board = Chessboard("myBoard", chessConfig);
    //$(window).resize(board.resize);
    $('#showPositionBtn').on('click', clickShowPositionBtn);

    function clickShowPositionBtn () {
        console.log('Current position as an Object:');
        console.log(board.position());

        console.log('Current position as a FEN string:');
        console.log(board.fen());
    }

    function onDragStart (source, piece, position, orientation) {
        if ((orientation === 'white' && piece.search(/^w/) === -1) ||
            (orientation === 'black' && piece.search(/^b/) === -1)) {
            return false;
        }
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        var jsonToSend = {
            "source": source,
            "target": target
        };

        $.ajax({
            type: "POST",
            url: postURI,
            data: jsonToSend,
            success: function (result) {
                snapBack = (result.legalMove === false);
            },
            error: function (result) {
                alert("error:" + result);
            }
        });
        if (snapBack) return 'snapback';
    }
</script>

</body>
</html>