<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <!-- viewport from Bootstrap to page scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <!-- Ajax - REST -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Chess Board -->
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
          integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
          crossorigin="anonymous">
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Chess</a>
    </div>
</div>
<div id="main" class="container">
</div>

<button id="btn1" class="btn">Get messages</button>
<button id="btn2" class="btn">Send message</button>

<div id="myBoard" style="width: 40%"></div>
<button id="showPositionBtn">Show position in console</button>


<script type="text/javascript">
    getURI = 'http://localhost:5000/api/test';
    postURI = 'http://localhost:5000/api/post';

    var snapback;

    //ChessBoard
    var chessConfig = {
        draggable: true,
        position: 'start',
        //not working
        //onMoveEnd: onMoveEnd
        //triggered when moving out the board
        //onSnapbackEnd: onSnapbackEnd
        //triggered even on hover
        //onDragMove: onDragMove
        //todo implement onDrop
        onDrop: onDrop,
        //Prevent from moving black pieces
        onDragStart: onDragStart
    };

    var board = Chessboard('myBoard', chessConfig);
    $(window).resize(board.resize);

    function clickShowPositionBtn () {
        console.log('Current position as an Object:');
        console.log(board.position());

        console.log('Current position as a FEN string:');
        console.log(board.fen());
    }

    function onDragStart (source, piece, position, orientation) {
        if ((orientation === 'white' && piece.search(/^w/) === -1) ||
            (orientation === 'black' && piece.search(/^b/) === -1)) {
            return false;
        }
    }

    function onMoveEnd (oldPos, newPos) {
        console.log('Move animation complete:');
        console.log('Old position: ' + Chessboard.objToFen(oldPos));
        console.log('New position: ' + Chessboard.objToFen(newPos));
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
    }

    function onSnapbackEnd (piece, square, position, orientation) {
        console.log('Piece: ' + piece);
        console.log('Square: ' + square);
        console.log('Position: ' + Chessboard.objToFen(position));
        console.log('Orientation: ' + orientation);
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
    }

    function onDragMove (newLocation, oldLocation, source,
                         piece, position, orientation) {
        console.log('New location: ' + newLocation);
        console.log('Old location: ' + oldLocation);
        console.log('Source: ' + source);
        console.log('Piece: ' + piece);
        console.log('Position: ' + Chessboard.objToFen(position));
        console.log('Orientation: ' + orientation);
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
    }

    function onDrop (source, target, piece, newPos, oldPos, orientation) {
        // console.log('Source: ' + source);
        // console.log('Target: ' + target);
        // console.log('Piece: ' + piece);
        // console.log('New position: ' + Chessboard.objToFen(newPos));
        // console.log('Old position: ' + Chessboard.objToFen(oldPos));
        // console.log('Orientation: ' + orientation);
        // console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~');
        //return snapback if False
        var jsonToSend = {
            "source": source,
            "target": target
        };

        $.ajax({
            type: "POST",
            url: postURI,
            data: jsonToSend,
            success: function(result) {
                snapback = (result.legalMove === false);
            },
            error: function(result) {
                alert('error');
            }
        });
        if(snapback) return 'snapback';
    }

    $('#showPositionBtn').on('click', clickShowPositionBtn);









    //Get data from server - working
    // $(document).ready(function(){
    //     $("btn1").click(function(){
    //         $.get(getURI, function(data, status){
    //             //alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);
    //             document.getElementById("main").innerHTML = JSON.stringify(data);
    //         });
    //     });
    // });

    // todo uncomment here
    $("button").click(function() {
        // $.ajax({
        //     type: "POST",
        //     url: postURI,
        //     data: JSON.parse('{"from":"G5", "to":"G6"}'
        //         ),
        //     success: function(result) {
        //         alert("Data: " + JSON.stringify(result) + "\nStatus: " + status);
        //     },
        //     error: function(result) {
        //         alert('error');
        //     }
        // });
       //  var source = "G5";
       //  var target = "G6";
       // // alert("Data: " + JSON.stringify(source) + "\nStatus: " + target);
       //  var json_ ={
       //      "source":source,
       //      "target":target
       //  };
       //  //var f = JSON.parse('{"from":' + source + ',"to":' + target + "}");
       //  alert(JSON.stringify(json_));
        // $.ajax({
        //     type: "POST",
        //     url: postURI,
        //     data: JSON.parse('{"from":' + source + ',"to":' + target + "}"
        //     ),
        //     success: function(result) {
        //         alert("Data: " + JSON.stringify(result) + "\nStatus: " + status);
        //     },
        //     error: function(result) {
        //         alert('error');
        //     }
        // });
    });

    /*
    function TasksViewModel() {
        var self = this;


        self.ajax = function(uri, method, data) {
            var request = {
                url: uri,
                type: method,
                contentType: "application/json",
                accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                error: function(jqXHR) {
                    console.log("ajax error " + jqXHR.status);
                }
            };
            return $.ajax(request);
        }

        var msg = {"figure": "cos",
                    "position":"cos"}

        self.post(self.postURI, 'POST', msg);
    }

     */


</script>
</body>
</html>